<div class="projectform">
  <div class="projectformname">Name:
  </div>
  <div class="projectformfieldname">
  <%= f.text_field :name %>
  </div>
  <div class="projectformfieldname2">
    <p><%= f.submit "Ok" %></p>
  </div>
</div>
<%= f.error_messages %>