<!DOCTYPE html>

<html lang="en">

<head>
  <meta http-equiv = "Content-Type" content = "text/html; charset = iso-8859-1" />
  <meta http-equiv = "Content-Language" content = "en-us" />
  <link rel='shortcut icon' href='/images/favicon.ico' type="image/ico" />
  <title>GARAGE</title>



</head>

<body>

<%= yield -%>

<%= stylesheet_link_tag "/style" %>

</body>

</html>